.all-users{
    position: fixed;
    top: 15%;
    bottom: 0;
    left: 10%;
    right: 0;
    overflow-y: auto;
    background-color: rgb(64, 110, 229);
}
.card-users {
    margin: 20px;
}

.card-users-body {
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #000000;
    /*color: white;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-users-table {
    width: 100%;
    border-collapse: collapse;
}

.card-users-table-header th {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: left;
}

.card-users-table tbody td {
    padding: 10px;
}

.error {
    color: red;
    margin-bottom: 20px;
}