.container {
    margin: 20px;
    display: flex;
    flex-direction: column;


}

.assign-ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #000; /* Add a dark border */
    padding: 10px; /* Add padding to separate the container */
}

.assign-ticket-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.assign-ticket-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.assign-ticket-container label {
    font-size: 16px;
    margin-bottom: 10px;
}

.assign-ticket-container input,
.assign-ticket-container select {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

.assign-ticket-container button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

.assign-ticket-container button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.assign-ticket-container button:hover {
    background-color: #0056b3;
}

.ticket-details-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ticket-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid #000; /* Add a dark border */
    padding: 10px; /* Add padding to separate the container */
}

.ticket-content-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ticket-content-container p {
    font-size: 16px;
    margin-bottom: 5px;
}

.attachment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.attachment a {
    font-size: 16px;
    margin-bottom: 5px;
}

.attachment img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.attachment-options button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}

.attachment-options button:hover {
    background-color: #0056b3;
}

.check-ticket-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

.check-ticket-button:hover {
    background-color: #0056b3;
}

.assign-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

.assign-button:hover {
    background-color: #0056b3;
}

.card {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #000; /* Add a dark border */
    margin-bottom: 20px; /* Add margin to separate the cards */
}

/*.table {*/
/*    color: #1a1a1a;*/
/*    background-color: white;*/
/*    font-size: 20px;*/
/*    border: 1px solid #000; !* Add a dark border *!*/
/*    padding: 10px; !* Add padding to separate the table *!*/
/*}*/

.table td {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

.table td:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid #000; /* Add a dark border */
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000
}


.table th:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid #000; /* Add a dark border */
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000
}


.table-header {
    color: #1a1a1a;
    background-color: white;
    font-size: 30px;
    border: 1px solid #000; /* Add a dark border */
    padding: 10px; /* Add padding to separate the table header */
}

@media (max-width: 600px) {
    .table th:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}