.depart-card-tickets-table {
    width: 100%;
    border-collapse: collapse;
}

.depart-card-tickets-table th,
.depart-card-tickets-table td {
    background-color: transparent;
    padding: 8px;
    text-align: left;
}

.depart-card-tickets-table th {
    background-color: transparent;
}

.depart-card-tickets-table tr:nth-child(even) {
    background-color: transparent;
}

.depart-card-tickets-table a {
    color: #007bff;
}

.depart-card-tickets-table th,
.depart-card-tickets-table td {
    border-right: 1px solid #ddd;
}

.depart-card-tickets-table tr {
    border-bottom: 1px solid #ddd;
}

.depart-card-tickets-table td:last-child,
.depart-card-tickets-table th:last-child {
    border-right: none;
}

.depart-search-container {
    display: flex;
    margin-bottom: 10px;
}

.depart-search-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

.depart-search-container button {
    padding: 8px;
    background-color: #007bff;
    color: #46596c;
    border: none;
    cursor: pointer;
}

.depart-card-tickets-table a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.depart-card-tickets-table a:hover {
    text-decoration: underline;
}
.description-column{
    width: 300px;
    max-width: 600px;
}

.close-button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    right: 35.3%;
    top: 33.8%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
}

.close-button:hover {
    background-color: #cc0000;
}