.ticket-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 400px;
    height: fit-content;
    background-color: #3b61d7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgb(12, 40, 68);
}


.rating-card-body {
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.rating-card-title {
    text-align: center;
}

.rating-form-group {
    margin-bottom: 15px;
}

textarea,
select, .rating {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    color: black;
}

.rating {
    display: flex;
    justify-content: center;
    background-color: white;

}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;

}

.selected {
    color: gold;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Optional: Style the ToastContainer if needed */
.Toastify__toast-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 8px;
    z-index: 9999;
}
