body{
    /*background: linear-gradient(to bottom, #f1c162, #5CACEE, #eb87c0, #eed65c, #87CEEB);*/
    /*background-image: url("../images/Img.jpg");*/
    background-size: 100% 100%;
    /*background-color: white;*/
    /*background-position: center;*/
    margin: 0;
    padding: 0;
    /*height: 100%;*/

    display: flex;
    justify-content: space-between;
    font-family: 'Your Preferred Font', sans-serif;
    /*color: #333;*/
    /*width: auto;*/
    /*opacity: 0.5;*/
    /*position: relative;*/
    /*height: 200px;*/
    /*width: 100%;*/
    background: linear-gradient(to bottom, #87CEEB, #5CACEE, #87CEEB, #5CACEE, #87CEEB );
    background-size: 100% 100%;
    /*overflow: visible;*/
}

/*body:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -50%;*/
/*    left: -70%;*/
/*    width: 200%;*/
/*    min-height: 100%;*/
/*    background: linear-gradient(to right, #87CEEB, #5CACEE, #87CEEB, #5CACEE, #87CEEB);*/
/*    transform: skewY(10deg);*/

/*    !*background: linear-gradient(to bottom, #87CEEB, #5CACEE, #87CEEB, #5CACEE, #87CEEB );*!*/
/*    !*margin: 0;*!*/
/*    !*padding: 0;*!*/
/*    !*font-family: 'Your Preferred Font', sans-serif;*!*/
/*    !*color: #333; !* Text color on the wavy background *!*!*/
/*}*/

/*.home-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    z-index: 0;*/
/*}*/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 30px;
    z-index: 5;
}

.home-title{
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
    transform: translateX(20%);
    position: absolute;
    top: 38%;
    left: 1%;
}

.logo {
    max-width: 100%;
    height: 150px;
    width: 2050px;
    margin: auto;
    border-radius: 14px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.input-container {
    display: flex;
    align-items: center;
    width: 400px;
}

.input-container input {
    margin-right: -6px;
    width: 310px;
    color: black;
    height: 30px;
    background-color: white;
}

.login-input{
    font-size: 20px;
    height: 30px;
    margin-right: -6px;
    width: 310px;
    background-color: white;
    color: black;
}

.login-form button {
    /*margin-left: 5px;*/
    width: 100px;
    /*height: 45px;*/
    border-radius: 3px;
    height: 52px;
    margin: 20px;
}

.login-form button:hover {
    background-color: green;
}


.login-form {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.login-password {
    margin-right: 10px;
    width: 300px;
}

.login-button {
    margin-left: 10px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

.login-button:hover {
    background-color: #0056b3;
}


h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
    transform: translateX(20%);
    position: absolute;
    top: 40%;
    left: 10%;
}
/*style for tablets screens*/
@media (min-width: 768px) and (max-width: 1024px){
    body{
        width: 100%;
    }
    .logo {
        max-width: 100%;
        height: 150px;
        width: 2050px;
        margin: auto;
        border-radius: 14px;
        position: absolute;
        top: 16%;
        left: 50%;
    }
    .nav-container {
        /*display: flex;*/
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 667px;
        height: 50px;
        padding: 10px;
    }

    h1{
        position: relative;
        left: -15%;
        top: -120px;
    }
    .input-container{
        display: inline;

    }
    .input-container input {
        width: 410px;
        height: 47px ;
        font-size: 39px;
    }
    .input-container button{
        width: 90px;
        height: 45px;
        border-radius: 3px;

    }

    .login-input{
        margin-top: 30px;
        width: 410px;
        height: 50px;
        font-size: 39px;
    }

    .login-form button {
        margin-top: 30px;
        width: 180px;
        height: 85px;
        border-radius: 5px;
        font-size: 25px;
    }

}

/*style for smaller screens*/
@media (max-width:480px){
    body {
        width: auto;
    }
    .logo{
        position: fixed;
        top: 39px;
        left: 150px;
        height: 76px;
        min-width: 150px;
        width: 280px;
        z-index: 999;
    }
    .nav-container {
        /*display: flex;*/
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 667px;
        height: 30%;
        padding: 10px;
    }
    .profile-button{
        font-size: 20px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 40%;
        padding:10px;
    }
    h1{
        position: relative;
        left: -28%;
        top: -120px;
    }

    .profile-dropdown{
        left: 0px;
    }
    .login-form{
        margin: 10px;
    }
    .input-container {
        display: inline;

    }

    .input-container input {

        width: 310px;
        height: 47px ;
        font-size: 25px;
    }
    .input-container button{
        margin-top: 30px;
        margin-right: 50px;

    }

    .login-input{
        margin-top: 30px;
        width: 310px;
        height: 47px;
        font-size: 25px;
    }

    .login-form button {
        margin-top: 30px;
        width: 110px;
        height: 55px;
        border-radius: 3px;
        font-size: 25px;
    }

}



