
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 20px;
    background-color: #f2f2f2;
}

.nav-container button {
    margin-right: 200px;
}

.profile-dropdown {
    position: relative;
}

.profile-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home-container {
    margin-top: 80px; /* Adjust this value to create space below the nav */
}

.home-title {
    font-size: 24px;
    font-weight: bold;
}

.home-content {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
