.ticket-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
    height: fit-content;
    background-color: #3b61d7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgb(12, 40, 68);
}


.rating-card-body {
    padding: 20px;
    border-radius: 8px;
}

.rating-card-title {
    text-align: center;
}

.rating-form-group {
    width: 500px;
    border-color: white;
}

.rating-form-group textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(229, 229, 229, 0.87);
    font-size: 18px;
}
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(229, 229, 229, 0.87);
    font-size: 18px;
}

.rating {
    display: flex;
    justify-content: center;
    color: white;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;

}

.selected {
    color: gold;
}

.feedback-button {
    width: 200px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translate(60%, 20%);
    background-color: blue;
}

.feedback-button:hover {
    background-color: green;
}

.error {
    color: red;
    margin-top: 10px;
}

.ticket-response-info {
    display: flex;
    flex-direction: column;

}

.sender-info {
    margin-bottom: 10px;
    text-align: left;
}

.responded-info {
    text-align: right;
}

.sender-info h2,
.responded-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sender-info p,
.responded-info p {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    min-width: 300px;
    max-width: 300px;
    min-height: 110px;
    max-height: 110px;
    font-size: 15px;
    font-family: "Times New Roman";
    overflow-y: auto;
}

.sender-info p {
    color: white;
    background-color: #262525;
    text-align: left;
    min-width: 300px;
}

.responded-info p {
    color: black;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.57);
}
