
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing of textarea */
}

.form-control-text {
    font-size: larger;
}

input {
    font-size: larger;
}

button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        max-width: none;
        position: static;
        transform: none;
    }
}

@media screen and (max-width: 576px) {
    .card-title {
        font-size: 20px;
    }
}
